* {
    font-family: "poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.navigation {
    background-color: red;
    padding: 0,15px;
    position: relative;
}
.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.logo a {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 40px;
    display: flex;
    margin-top: 20px;

} 
.input-box input {
    display: flex;
    width: 350px;
    padding: 5px 20px;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    margin-left: 50%;
    position: relative;
    align-items: center;
    margin-bottom: 14px;
}
.input-box ::placeholder {
    padding-left: 5px;
    color: #222222;   
}
.input-box i {
    font-size: 18px;
    color: #363636;
    position: absolute;
    bottom: 9px;
    padding-left: 325px;
    margin-bottom: 10px;

}

.menu {
    display: flex;
    margin-top: 35px;
    margin-right: 40px;
    margin-bottom: 3px;
}
.menu li {
    list-style-type: none;

}
.menu li a {
    text-decoration: none;
    padding-right: 40px;
    color: #fff;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    
}